.chart{
     height: 200px;
     width: 200px;
 }

#ehrIdInput{
    margin-top: 1%;
}
#naloziButton{
    margin-top: 1%;
}

.vzroki-item{
    padding: 20px;
    background-color: #cccccc;
    border: 1px solid black;
}